{{!-- basic-header-with-search.hbs --}}

<div class="row">
    <div class="col-sm">
        <h3>{{title}}</h3>
    </div>
    <div class="col-sm-auto d-flex justify-content-end">
        <div class="row">
            <div class="col-sm-auto">
                <form class="d-flex" method="POST" action="{{dataObj.req.originalUrl}}" novalidate>
                    <input class="form-control me-2" type="search" name="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    {{#if schema.admin}}
    <div class="col-sm-12">
        <div class="font-monospace">
            <span>Items: </span>
            {{#if schema.adminFunctions}}
            <span>{{schema.adminFunctions.length}}</span>
            {{else}}
            <span>0</span>
            {{/if}}
        </div>
    </div>
    {{/if}}

    {{#if schema.classes}}
    <div class="col-sm-12">
        <div class="font-monospace">
            <span>Items: </span>
            {{#if schema.classesFunctions}}
            <span>{{schema.classesFunctions.length}}</span>
            {{else}}
            <span>0</span>
            {{/if}}
        </div>
    </div>
    {{/if}}
</div>

<hr>