{{!-- view-atendance-by-student-header.hbs --}}

<div class="row">
    <div class="col-sm-6">
        <h3>Attendance</h3>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Sid</th>
            <th scope="col">Name</th>
            <th scope="col">Branch</th>
            <th scope="col">Class</th>
            <th scope="col">Section</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each rows1}}
        <tr>
            <th scope="row">{{this.Sid}}</th>
            <td>{{this.Fname}} {{this.Lname}}</td>
            <td>{{this.Branch}}</td>
            <td>{{this.Class}}</td>
            <td>{{this.Section}}</td>
            <td>{{this.Email}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>