{{!-- view-admin-profile.hbs --}}

<div class="container-fluid">

    {{#each schema.admin}}
    <section>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {{!-- <img
                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnM1LjM3MyAxMiAxMiAxMiAxMi01LjM3MyAxMi0xMi01LjM3My0xMi0xMi0xMnptNy43NTMgMTguMzA1Yy0uMjYxLS41ODYtLjc4OS0uOTkxLTEuODcxLTEuMjQxLTIuMjkzLS41MjktNC40MjgtLjk5My0zLjM5My0yLjk0NSAzLjE0NS01Ljk0Mi44MzMtOS4xMTktMi40ODktOS4xMTktMy4zODggMC01LjY0NCAzLjI5OS0yLjQ4OSA5LjExOSAxLjA2NiAxLjk2NC0xLjE0OCAyLjQyNy0zLjM5MyAyLjk0NS0xLjA4NC4yNS0xLjYwOC42NTgtMS44NjcgMS4yNDYtMS40MDUtMS43MjMtMi4yNTEtMy45MTktMi4yNTEtNi4zMSAwLTUuNTE0IDQuNDg2LTEwIDEwLTEwczEwIDQuNDg2IDEwIDEwYzAgMi4zODktLjg0NSA0LjU4My0yLjI0NyA2LjMwNXoiLz48L3N2Zz4="
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;"> --}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        <h5 class="my-3">{{this.Fname}} {{this.Lname}}</h5>
                        <p class="text-muted mb-1 text-capitalize">{{this.Role}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header fw-bold">{{this.Role}} Info</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">ID</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p class="text-muted mb-0 text-uppercase">{{this.Aid}}</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p class="text-muted mb-0 text-lowercase">{{this.Email}}</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">First Name</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p class="text-muted mb-0 text-capitalize">{{this.Fname}}</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">Last Name</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p class="text-muted mb-0 text-capitalize">{{this.Lname}}</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">Role</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p class="text-muted mb-0 text-capitalize">{{this.Role}}</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">Status</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p class="text-muted mb-0 text-capitalize">{{this.Status}}</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">Access Level</p>
                                    </div>
                                    <div class="col-sm-8">
                                        {{#ifEquals ../dataObj.user.accessLevel 'full-access'}}
                                        <p class="text-muted mb-0 text-capitalize">Full</p>
                                        {{else}}
                                        <p class="text-muted mb-0 text-capitalize">Special</p>
                                        {{/ifEquals}}
                                    </div>
                                </div>
                                <hr class="d-sm-block d-md-none">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{/each}}

</div>