{{!-- get-attendance-form-by-teacher-form --}}

<div class="col-sm-auto">
    {{#each schema}}
    {{#each this.reqData}}
    <form action="{{../../dir.parent}}/manage-attendance/attendance-form" class="position-relative overflow-hidden needs-validation" method="POST"
        novalidate>
        <div class="position-absolute opacity-0" style="z-index: -1;">
            <div class="col-sm-auto">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control date" id="date" placeholder="Date" name="date"
                        value="{{this.date}}" data-value="currentDate" readonly required>
                    <label for="date">Attendance Date</label>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="subjectCode" placeholder="Subject Code"
                        name="subject_code" value="{{this.subject_code}}" readonly required>
                    <label for="subjectCode">Subject Code</label>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="programme" placeholder="Programme" name="programme"
                        value="{{this.programme}}" readonly required>
                    <label for="programme">Programme</label>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="class" placeholder="Class" name="class"
                        value="{{this.class}}" readonly required>
                    <label for="class">Class</label>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="department" placeholder="Department" name="department"
                        value="{{this.department}}" readonly required>
                    <label for="department">Department</label>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="section" placeholder="Section" name="section"
                        value="{{this.section}}" readonly required>
                    <label for="section">Section</label>
                </div>
            </div>
        </div>
        <div class="col-sm-auto">
            <button class="btn btn-dark" type="submit">Manage</button>
        </div>
    </form>
    {{/each}}
    {{/each}}
</div>